html, body {
    height: 100%;
    width: 100%;
    background-color: lightgray;
}

#mainDiv {
    /*padding: 10px;*/
}

#slideDivs {
    right: 0;
    position: absolute;
}

.comp {
    display: inline-block;
}

.tabs {
    background-color: darkgray;
    width: 25vw;
    height: 100vh;
    float: right;
    display: none;
    padding: 10px;
}

#btnTabs {
    width: 0;
    margin-top: 10vh;
}

.btnTab {
    transform: translateX(-50%) rotate(-90deg);
    float: left;
    margin-left: -20px;
    margin-top: 70px;
    width: 100px;
}

#undo-button {
    position: absolute;
    top: 10px;
    left: 10px;
    display: none;
}

#redo-button {
    position: absolute;
    top: 10px;
    left: 54px;
    display: none;
}

#save-button {
    position: absolute;
    top: 10px;
    left: 98px;
    display: none;
}

#zoom-in-button {
    position: absolute;
    top: 10px;
    left: 146px;
    display: none;
}

#zoom-out-button {
    position: absolute;
    top: 10px;
    left: 190px;
    display: none;
}

#lengths-button {
    position: absolute;
    top: 10px;
    left: 238px;
    display: none;
}

#search {
    position: absolute;
    top: 10px;
    left: 286px;
    display: none;
}

#outgroup-button {
    position: absolute;
    top: 54px;
    left: 10px;
    display: none;
}

#context-menu {
    position: fixed;
    z-index: 10000;
    width: 150px;
    background: #1b1a1a;
    border-radius: 5px;
    display: none;
}

#context-menu.visible {
    display: block;
}

#context-menu .item {
    padding: 8px 10px;
    font-size: 15px;
    color: #eee;
    cursor: pointer;
    border-radius: inherit;
}

#context-menu .item:hover {
    background: #343434;
}