<!doctype html>
<html lang="en">
    <head>
        <meta charset="utf8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

        <title>Beth</title>

        <link rel="stylesheet" type="text/css" href="/static/bootstrap.min.css">
        <link rel="stylesheet" type="text/css" href="/static/css.css">

        <script src="/static/jquery-3.4.1.min.js"></script>
        <script src="/static/popper.min.js"></script>
        <script src="/static/bootstrap.min.js"></script>
        <script src="/static/snap.svg-min.js"></script>
        <script src="/static/js.js"></script>
    </head>
    <body>
        <!-- TODO
         +/- option
         Top right window
         Scale axis
        -->
        <!-- TODO Sidebar
         Import from newick file
         Import from database
         Delete database
         Colorize (save to db too -> color as attribute in python tree object)
         Save to file
         View from database
         Show/Unshow
            Bootstraps
            Lengths
            Names at the very right/directly behind
            +/- option
         Filter
        -->
        <div id="mainDiv">
            <div id="slideDivs">
                <div id="btnTabs" class="comp">
                    <button id="btn1" class="btnTab btn btn-dark">Options</button>
                    <button id="btn2" class="btnTab btn btn-dark">Snapshots</button>
                </div>
                <div id="tab1" class="tabs comp">
                    <strong>Options</strong>
                    <p></p><!--https://codepen.io/Sebus059/pen/MwMQbP lower part-->
                    <form enctype="multipart/form-data">
                        <div class="custom-file">
                            <input type="file" class="custom-file-input" id="file" accept=".treefile">
                            <label class="custom-file-label" for="file">Choose file</label>
                        </div>
                        <input type="button" class="btn btn-primary" id="import" value="Import">
                    </form>
                </div>
                <div id="tab2" class="tabs comp">
                    <strong>Snapshots</strong>
                    <p></p>
                    <div id="no-entries">No entries yet!</div><!-- TODO now rly delete them between sessions -->
                    <table class="table" id="snapshots">
                    </table>
                </div>
            </div>
        </div>
    </body>
</html>
